@model IEnumerable<Doctrack.Models.DocumentType>

@{
  ViewData["Title"] = "Document Types List";
}

<h2>Documents Management</h2>
<hr />

<div class="flex-action">
  <div class="wrapper-privilege">
    @if(ViewBag.isAdmin){
      <a 
        asp-action="Create"
        class='button button-primary'
        style="color:white"
      >
        <i class="bi bi-files"></i>
        &nbsp;
        Document
      </a>
    }else{
      <a 
        asp-action="Create"
        class="button button-primary disabled-btn"
        style="color:white"
      >
        <i class="bi bi-files"></i>
        &nbsp;
        Document
      </a>
    }
  </div>
  <div class="search-box">
    <input id="search-box" placeholder="Search Title..." />
    <div id="search-btn"><i class="bi bi-search"></i></div>
  </div>
</div>
<div id="document-table">
  @Html.Partial("_DocumentTypesTable", Model)
</div>


<script>
  $('#search-box').keypress(function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById('search-btn').click();
    }
  });

  $('#search-btn').click(function() {
  const queryStr = $('#search-box').val();
  $.ajax({
    url: '/DocumentTypes/Index/',
    type: 'GET',
    data: { 
      'queryStr': queryStr,
      'isSearch': true
    },
    success: function (data) { 
      $('#document-table').html(data);
    }
  })
})
</script>