@model IEnumerable<Doctrack.Models.DocumentType>

@{
  ViewData["Title"] = "Document Types List";
}

<h2>Document Types</h2>
<hr />

<div class="flex-action">
  <div class="button button-primary">
    <a asp-action="Create" style="color:white">New Document</a>
  </div>
  <div class="search-box">
    <input id="search-box" placeholder="Search Title..." />
    <div id="search-btn"><i class="bi bi-search"></i></div>
  </div>
</div>
<div id="document-table">
  @Html.Partial("_DocumentTypesTable", Model);
</div>


<script>
  $('#search-btn').click(function() {
  const queryStr = $('#search-box').val();
  $.ajax({
    url: '/DocumentTypes/SearchDocType/',
    type: 'GET',
    data: {
      'queryStr': queryStr
    },
    success: function (data) { 
      $('#document-table').html(data);
    }
  })
})
</script>