@model IEnumerable<Doctrack.Models.Employee>

@{
  ViewData["Title"] = "Employees List";
}

<h2>Employees</h2>
<hr />

<div class="flex-action">
  <div class="button button-primary">
    <a asp-action="Create" style="color:white;">New Employee</a>
  </div>
  <div class="search-box">
    <input id="search-box" placeholder="Search Title..." />
    <div id="search-btn"><i class="bi bi-search"></i></div>
  </div>
</div>

<div id="document-table">
  @Html.Partial("_EmployeeTable", Model)
</div>

<script>
  $('#search-box').keypress(function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById('search-btn').click();
    }
  });
  
  $('#search-btn').click(function() {
    var queryStr = $('#search-box').val();
    $.ajax({
      url: 'Employees/SearchEmployee',
      type: 'GET',
      data: { 'queryStr': queryStr },
      success: function(data)
      {
        $('#document-table').html(data);
      }
    });
  })
</script>