@model IEnumerable<Doctrack.Models.Rank>

@{
  ViewData["Title"] = "Ranks List";
}

<h2>Ranks Management</h2>
<hr />

<div class="flex-action">
  <span class="wrapper-privilege">
    @if (ViewBag.isAdmin){
      <a
        asp-action="Create"
        class="button button-primary"
        style="color:white"
      >
        <i class="bi bi-person-vcard-fill"></i>
        &nbsp;
        Rank
      </a>
      <a
        asp-action="BindJobRank"
        class="button button-primary"
        style="color: white;"
      >

      </a>
    }else{
      <a
        asp-action="Create"
        class="button button-primary disabled-btn"
        style="color: white;"
      >
        <i class="bi bi-person-vcard-fill"></i>
        &nbsp;
        Rank
      </a>
    }
  </span>
  <div class="search-box">
    <input id="search-box" placeholder="Search Title..." />
    <div id="search-btn"><i class="bi bi-search"></i></div>
  </div>
</div>

<div id="document-table">
  @Html.Partial("_RanksTable", Model)
</div>


<script>
  $('#search-box').keypress(function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById('search-btn').click();
    }
  });
  
  $('#search-btn').click(function() {
  const queryStr = $('#search-box').val();
  $.ajax({
    url: '/Ranks/SearchRank/',
    type: 'GET',
    data: { 'queryStr': queryStr },
    success: function (data) { 
      $('#document-table').html(data);
    }
  })
})
</script>