.fab-wrapper {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  z-index: 999;
}

.fab-checkbox {
  display: none;
}

.fab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: white;
  z-index: 999;
  background-color: #245953;
  font-size: 24px;
  transition: box-shadow .2s, transform .7s, font-size .7s ease;
}

.fab-checkbox:disabled ~ .fab {
  background-color: #D8D8D8;
}

.fab-checkbox:disabled ~ .fab-wheel {
  background-color: #D8D8D8
}

.fab:hover {
  background-color: #2e6962;
}

.fab-checkbox:checked ~ .fab {
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  transform: rotate(-225deg);
  font-size: 32px;
}

.fab-wheel {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 3.5rem;
  top: 0;
  right: 1.75rem;
  border-start-start-radius: 3.5rem;
  border-end-start-radius: 3.5rem;
  transition: width .7s ease;
  background-color: #245953;
}

.fab-action {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 32px;
  color: white;
  pointer-events: none;
}

.fab-action:hover {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #245953;
}

.fab-checkbox:checked ~ .fab-wheel {
  width: 18rem;
}

.fab-checkbox:checked ~ .fab-wheel .fab-action {
  pointer-events: auto;
}

.fab-wheel .fab-action-1 {
  left: 2rem;
}

.fab-wheel .fab-action-2 {
  left: 6.5rem;
}

.fab-wheel .fab-action-3 {
  left: 11rem;
}

#del-emp-icon.select {
  color: #ea3f28;
}

#edit-emp-icon.select {
  color: #f68a42;
}


@media screen and (min-width: 1600px) {
  .fab-wrapper {
    bottom: 8rem;
    right: 8rem;
  }
}