@model Doctrack.Models.Account

@{
  ViewData["Title"] = "Forget Password";
}

<link rel="stylesheet" href="~/css/accountCard.css" asp-append-version="true" />

<div class="container-cover-card">
  <div class="container-card">
    <div class="container-login">
      <h2 class="card-title" style="font-size: 26px;">Reset Password</h2>
      <form asp-action="ForgetPassword">
        <div class="form-group">
          <div class="icon-inside">
            <i class="bi bi-person-fill icon-prefix"></i>
            <input id="username" name="username" value='@ViewData["username"]' class="form-control" autocomplete="off" autofocus placeholder="Username"/>
          </div>
          <span id="username-error" class="text-danger">@ViewData["userError"]</span>
        </div>
        <div class="form-group container-button">
          <input type="submit" value="Reset Password" class="button button-primary" />
          <p>Do you have an account? <a href="/accounts/login">Sign in</a></p>
        </div>
      </form>
    </div>
    <div class="container-greeting">
      <div class="content-greeting">
        <div class="header-greeting">
          <h2>Glad to see You!</h2>
        </div>
        <div class="body-greeting">
          <p>
            The road ahead may be long and tough,<br/>
            But with perseverance, you'll rise above.
          </p>
        </div>
        <div class="poet-greeting">
          <p class="poet"><em>-ChatGPT</em></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('click', '.icon-postfix', function() {
    $(this).toggleClass('bi bi-eye-slash-fill');
    $(this).toggleClass('bi bi-eye-fill');

    if($(this).hasClass('bi-eye-slash-fill'))
    {
      $(this).next().attr('type', 'password'); 
    } else {
      $(this).next().attr('type', 'text'); 
    }
  })
</script>