html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  caret-color: transparent;
}

input {
  caret-color: auto;
}

nav {
  background-color: #245953;
}

nav .navbar-brand {
  font-weight: bold !important;
}

body {
  margin-bottom: 60px;
  background-color: #408E91 ;
}

.container-fluid  a {
  color: white !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  width: max-content;
  height: 2.5rem;
  width: 100%;
}

.button-primary {
  background-color: #558fe5;
  transition: background-color .1s linear;
}

.button-primary:hover {
  background-color: #094eb7;
  cursor: pointer;
}

.button-success {
  background-color: #82bf82;
  transition: background-color .1s linear;
}

.button-success:hover {
  background-color: #197919;
  cursor: pointer;
}

.button-warning {
  background-color: #f3aa79;
  transition: background-color .1s linear;
}

.button-warning:hover {
  background-color: #e7782e;
  cursor: pointer;
}

.button-danger {
  background-color: #e96a59;
  transition: background-color .1s linear;
}

.button-danger:hover {
  background-color: #d1230c;
  cursor: pointer;
}

.flex-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}

.search-contrainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height .1s linear;
}

.search-contrainer.expand {
  height: 320px;
}

.search-box-document {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: .5rem 0;
}

.search-box-document > label {
  color: white;
  font-weight: bold;
  padding-left: 1rem;
}

.search-input {
  border-radius: 1rem;
  padding-left: 1rem;
  border: none;
  height: 2.5rem;
}

#search-document-btn {
  background-color: #245953;
  color: white;
  display: flex;
  width: 100%;
  height: 2.5rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.search-box {
  display: flex;
  position: relative;
  margin-top: 16px;
}

#search-box {
  border-start-start-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  border: none;
  height: 2.5rem;
  padding-left: 1rem;
}

#search-btn {
  background-color: #245953;
  color: white;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-start-end-radius: 2.5rem;
  border-end-end-radius: 2.5rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#search-document-btn:hover,
#search-btn:hover {
  background-color: #2e6962;
  cursor: pointer;
}

.search-expand-btn {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.search-expand-btn > i {
  margin: 0 5px;
}

.line-separate {
  width: 100%;
  height: 1px;
  background-color: white;
}

@media screen and (min-width: 800px) {
  .flex-action {
    flex-direction: row;
    justify-content: space-between;
  }

  .search-contrainer.expand {
    height: auto;
  }

  .button {
    width: 20%;
  }

  .search-contrainer {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
  }

  .search-box-document {
    width: 50%;
    padding: 0 10px;
  }
  
  #search-document-btn {
    width: 100%;
    margin: 0 10px;
  }
  
  .search-expand-btn {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .search-contrainer {
    flex-wrap: nowrap;
    align-items: end;
    width: 70%;
  }

  .search-box-document {
    width: 20%;
  }

  #search-document-btn {
    margin: 0.5rem 0;
  }
}
