@model IEnumerable<Doctrack.Models.Job>

@{
    ViewData["Title"] = "Jobs List";
}

<h2>Jobs Management</h2>
<hr />

<div class="flex-action">
  <span class="wrapper-privilege">
    @if (ViewBag.isAdmin){
      <a
        asp-action="Create"
        class="button button-primary"
        style="color:white"
      >
        <i class="bi bi-briefcase-fill"></i>
        &nbsp;
        Job
      </a>
    }else{
      <a
        asp-action="Create"
        class="button button-primary disabled-btn"
        style="color: white;"
      >
        <i class="bi bi-briefcase-fill"></i>
        &nbsp;
        Job
      </a>
    }
  </span>
  <div class="search-box">
    <input id="search-box" placeholder="Search Title..." />
    <div id="search-btn"><i class="bi bi-search"></i></div>
  </div>
</div>

<div id="document-table">
  @Html.Partial("_JobsTable", Model)
</div>

<script>
  $('#search-box').keypress(function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById('search-btn').click();
    }
  });

  $('#search-btn').click(function() {
    const queryStr = $('#search-box').val();
    $.ajax({
      url: 'Jobs/SearchJob',
      type: 'GET',
      data: { 'queryStr': queryStr },
      success: function(data) {
        $('#document-table').html(data);
      }
    })
  })
</script>