@model IEnumerable<Doctrack.Models.Job>

@{
    ViewData["Title"] = "Jobs List";
}

<h2>Jobs</h2>
<hr />

<div class="flex-action">
  <div class="button button-primary">
    <a asp-action="Create" style="color:white">New Job</a>
  </div>
  <div class="search-box">
    <input id="search-box" placeholder="Search Title..." />
    <div id="search-btn"><i class="bi bi-search"></i></div>
  </div>
</div>

<div id="document-table">
  @Html.Partial("_JobsTable", Model);
</div>

<script>
  $('#search-box').keypress(function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById('search-btn').click();
    }
  });

  $('#search-btn').click(function() {
    const queryStr = $('#search-box').val();
    $.ajax({
      url: 'Jobs/SearchJob',
      type: 'GET',
      data: { 'queryStr': queryStr },
      success: function(data) {
        $('#document-table').html(data);
      }
    })
  })
</script>