@model IEnumerable<Doctrack.Models.Job>

@{
    ViewData["Title"] = "Jobs List";
}

<h2>Jobs</h2>
<hr />

<p class="btn btn-primary">
  <a asp-action="Create" style="color:white">New Job</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>@item.Id</td>
        <td>@item.Title</td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
          <span> |</span>
          <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>