hr {
  margin: 0;
}

.flex-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.container-wrapper {
  border-radius: 15px;
  box-shadow: 5px 5px 10px gray, 2px 2px 8px black;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: auto;
}

.flex-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #EF7C8E;
  color: white;
  font-weight: 900;
  align-items: center;
  height: 60px;
  z-index: 2;
  border-radius: 15px 15px 0 0;
}

.sub-header {
  z-index: 0;
  height: 45px;
  border: 1px solid black;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  transition: transform .3s, box-shadow .3s ease-out;
}

.main-row {
  background-color: #B6E2D3;
}

.flex-row.row-footer {
  margin-top: 4px;
}

.flex-row:hover {
  box-shadow: .2px .2px 10px gray, .3px .3px 5px black;
  transition: transform .1s ease-out;
}

.main-row:nth-last-child(2) {
  border-radius: 0 0 15px 15px;
}

.flex-row.active {
  z-index: 1;
  box-shadow: .2px .2px 10px gray;
  border-radius: 0;
}

.cell {
  flex: 1;
  text-align: center;
}

.cell.cell-title {
  flex: 2;
}

.sub-content {
  border-radius: 0 0 10px 10px;
  max-height: 0;
  overflow: hidden;
  transition: transform .1s, max-height 0s linear;
}

.sub-content.expand {
  padding: 15px;
  max-height: 1000px;
  transition: transform .1s, max-height 1s linear;
  box-shadow: 0 5px 5px gray, 5px 5px 15px black;
  background-color: #f5f1f1;
}

.sub-row {
  background-color: white;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: black;
  height: 40px;
}

.sub-row:last-child {
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 15px 15px;
}

.flex-button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: max-content;
  height: 3rem;
}

.button:last-child {
  margin-left: 3px;
}

.button-primary {
  background-color: #0d6efd;
  transition: background-color .1s linear;
}

.button-primary:hover {
  background-color: #094eb7;
  cursor: pointer;
}

.button-success {
  background-color: #329b32e3;
  transition: background-color .1s linear;
}

.button-success:hover {
  background-color: #197919;
  cursor: pointer;
}

.button-danger {
  background-color: #ea3f28;
  transition: background-color .1s linear;
}

.button-danger:hover {
  background-color: #c93723bb;
  cursor: pointer;
}

.unable-write {
  cursor: pointer;
}

@media screen and (min-width: 1001px){
  .flex-row:hover {
    transform: scale(1.02);;
  }

  .flex-row.active {
    transform: scale(1.04);
  }

  .sub-content.expand {
    transform: scale(1.04);
  }
}

@media screen and (max-width: 1000px){
  .container-wrapper {
    overflow: scroll;
    max-height: 500px;
  }

  .flex-container {
    width: 1000px;
  }
}

@media screen and (max-width: 400px){
  .container-wrapper {
    overflow: scroll;
    max-height: 450px;
  }
}

@media screen and (max-width: 375px){
  .container-wrapper {
    overflow: scroll;
    height: 300px;
  }
}