.flex-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.flex-header {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(44, 33, 33);
  background-color: rgb(44, 33, 33);
  color: white;
  font-weight: 900;
  align-items: center;
  height: 60px;
  border-radius: 15px 15px 0 0;
}

.sub-header {
  height: 45px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0 solid black;
  height: 50px;
}

.main-row {
  background-color: #93df93cc;
}

.flex-row.row-footer {
  border-width: 1px 0 0 0;
}

.flex-row.active {
  border-width: 5px 5px 5px 5px;
}

.flex-row:hover {
  background-color: rgba(192, 192, 192, 0.3) !important;
}

.flex-row:last-child {
  border-radius: 0 0 15px 15px;
}

.cell {
  flex: 1;
  text-align: center;
}

.sub-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0s ease-in;
}

.sub-content.expand {
  padding: 15px;
  max-height: 1000px;
  transition: max-height 1s linear;
  background-color: rgba(192, 192, 192, 0.3) 
}

.sub-row {
  background-color: white;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: black;
  height: 40px;
}

.sub-row:last-child {
  border-width: 0 1px 1px 1px;
}

.flex-button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.button {
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-bottom: 3px;
}

.button:last-child {
  margin-left: 3px;
}

.button-primary {
  background-color: #0d6efd;
  transition: background-color .1s linear;
}

.button-primary:hover {
  background-color: #094eb7;
  cursor: pointer;
}

.button-success {
  background-color: #329b32e3;
  transition: background-color .1s linear;
}

.button-success:hover {
  background-color: #197919;
  cursor: pointer;
}