.flex-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.flex-header {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(44, 33, 33);
  background-color: rgb(44, 33, 33);
  color: white;
  font-weight: 900;
  align-items: center;
  height: 60px;
}

.sub-header {
  height: 45px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0 solid black;
  height: 50px;
}

.main-row {
  background-color: #93df93cc;
}

.flex-row.row-footer {
  border-width: 1px 0 0 0;
}


.flex-row.active {
  /* background-color: rgb(170, 220, 241, .3) !important; */
  border-width: 5px 5px 5px 5px;
}

.flex-row:hover{
  background-color: rgba(192, 192, 192, 0.3) !important;
}

.cell {
  flex: 1;
  text-align: center;
}

.sub-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0s ease-in;
}

.sub-content.expand {
  padding: 15px;
  max-height: 1000px;
  transition: max-height 1s linear;
}

.sub-row {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: black;
  height: 40px;
}

.sub-row:last-child {
  border-width: 0 1px 1px 1px;
}